name: Build and Publish to gh-pages Branch

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Node 
      uses: actions/setup-node@v2
      with:
        node-version: '17'

    - name: Cache dependencies
      uses: actions/cache@v2
      with:
        path: |
          **/node_modules
        key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}

    - name: Install dependencies
      run: npm install @craco/craco @testing-library/jest-dom @testing-library/react @testing-library/user-event article-api axios daisyui gh-pages moment prop-types react react-dom react-helmet-async react-hotjar react-icons react-scripts sass web-vitals

    - name: Build
      run: npm run build
      env:
         CI: ""
         
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@4.1.4
      with:
          branch: gh-pages
          folder: build
